<section>
  <p>大家好。我是<a href="https://cn.linkedin.com/in/andrew-yang-38295756" target="_blank">Andrew Yang</a>!</p>
  {% include asides/social/picture.html %}
  <p><a href="/about/">关于我</a>。正在做的项目<a href="https://github.com/yyandrew">Github</a>。</p>
  <!--p><a href="cv.pdf">个人简历</a>。</p-->
  <div class="social-icons">
    {% include asides/social/facebook.html %}
    {% include asides/social/linkedin.html %}
    {% include asides/social/googleplus.html %}
    {% include asides/social/github.html %}
    {% include asides/social/twitter.html %}
  </div>
</section>
